<div class="search">
  <div class="container pt-2">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12" *ngIf="discoveryView | async; let discoveryView">
        <scholars-search-box [view]="discoveryView" placeholder="{{ 'SHARED.SEARCH_BOX.VIEW_PLACEHOLDER' | translate: {view:discoveryView.name} }}"></scholars-search-box>
      </div>
    </div>
  </div>
</div>
<div *ngIf="ready | async" [@fadeIn]>
  <div class="container" *ngIf="individual | async; let individual">
    <div *ngIf="displayView | async; let displayView" class="row">
      <div *ngIf="showAsideLeft(displayView)" class="d-none d-lg-block col-lg-3 p-0">
        <ng-container *ngTemplateOutlet="aside"></ng-container>
      </div>
      <div [ngClass]="{ 'col-lg-9': showAside(displayView), 'col-lg-12': !showAside(displayView) }">
        <div class="row mt-2">
          <div *ngIf="showLeftScan(displayView)" class="col-md-{{ getLeftScanColSize(displayView) }}" [innerHtml]="displayView.leftScanTemplateFunction(individual) | safeHtml"></div>
          <div *ngIf="showMainContent(displayView)" class="col-md-{{ getMainContentColSize(displayView) }}" [innerHtml]="displayView.mainContentTemplateFunction(individual) | safeHtml"></div>
          <div *ngIf="showRightScan(displayView)" class="col-md-{{ getRightScanColSize(displayView) }}" [innerHtml]="displayView.rightScanTemplateFunction(individual) | safeHtml"></div>
        </div>
        <div class="row mt-4 mb-4">
          <div class="col-12">
            <ul class="nav" [ngClass]="{ 'nav-tabs': !isMobile(windowDimensions | async), 'flex-column nav-pills': isMobile(windowDimensions | async) }">
              <li class="nav-item" *ngFor="let tab of getTabsToShow(displayView.tabs, individual)">
                <a class="nav-link" [routerLink]="getDisplayViewTabRoute(displayView, tab)" [routerLinkActive]="['active']">{{tab.name}}</a>
              </li>
            </ul>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
      <div *ngIf="showAsideRight(displayView)" class="d-none d-lg-block col-lg-3 p-0">
        <ng-container *ngTemplateOutlet="aside"></ng-container>
      </div>
      <ng-template #aside>
        <div [innerHtml]="displayView.asideTemplateFunction(individual) | safeHtml"></div>
        <scholars-youtube *ngIf="individual.youtube" [url]="individual.youtube"></scholars-youtube>
      </ng-template>
    </div>
  </div>
</div>
