<div class="container mb-1">
  <div class="text-center h2">{{organization.name}}</div>
  <div class="row">
    <div class="col-xl-6">
      <div class="card shadow bg-white rounded m-1">
        <div class="card-body">
          <div class="card-text">
            <div class="text-center h2">{{mean | async}}</div>
            <div class="text-center">{{ 'DATA_AND_ANALYTICS.ACADEMIC_AGE_GROUP.MEAN' | translate }}</div>
          </div>
        </div>
      </div>
      <div class="card shadow bg-white rounded m-1">
        <div class="card-body">
          <div class="h5">{{ 'DATA_AND_ANALYTICS.ACADEMIC_AGE_GROUP.PUBLICATIONS' | translate }}</div>
          <scholars-barplot id="academicAgeBarplot" scale="1" [input]="academicAge" maxOverride="{{maxOverride | async}}"></scholars-barplot>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card shadow bg-white rounded m-1">
        <div class="card-body">
          <div class="card-text">
            <div class="text-center h2">{{median | async}}</div>
            <div class="text-center">{{ 'DATA_AND_ANALYTICS.ACADEMIC_AGE_GROUP.MEDIAN' | translate }}</div>
          </div>
        </div>
      </div>
      <div class="card shadow bg-white rounded m-1">
        <div class="card-body">
          <div class="h5">{{ 'DATA_AND_ANALYTICS.ACADEMIC_AGE_GROUP.AVERAGE_PUBLICATIONS' | translate }}</div>
          <scholars-barplot id="averagePubRateAcademicAgeBarplot" scale="1" [input]="averagePubRateAcademicAge" maxOverride="{{maxOverride | async}}"></scholars-barplot>
        </div>
      </div>
    </div>
  </div>
</div>
