<scholars-sidebar *ngIf="queryParams | async; let params">
  <div *ngIf="selectedOrganization | async; let organization">

     <!-- view navigation -->
    <nav aria-label="breadcrumb" *ngIf="dataAndAnalyticsView | async; let view">
      <ol class="breadcrumb" *ngIf="displayView | async; let displayView">
        <li class="breadcrumb-item active" aria-current="page">
          <a [routerLink]="['/data-and-analytics']">{{ 'DATA_AND_ANALYTICS.LABEL' | translate }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" >
          <a [routerLink]="['/data-and-analytics', view.name]" [queryParams]="getQueryParams(params, view, displayView, organization.id)">{{ organization.name }} </a>
        </li>
      </ol>
    </nav>

    <div *ngIf="displayView | async; let displayView">

      <div class="card-columns" *ngIf="isDashboard | async" [@fadeIn]>
        <ng-template ngFor let-view [ngForOf]="dataAndAnalyticsViews | async" let-i="view" [ngForTrackBy]="trackByIndex">
          <div class="card">
            <a [routerLink]="[view.name]" [queryParams]="getQueryParams(params, view, displayView)" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <div class="card-header">
                <div class="h4 text-bold text-truncate">{{ organization.name }}</div>
                <div class="h5 text-bold">{{ view.name }}</div>
              </div>
              <div class="card-body" [ngSwitch]="view.layout">
                <div *ngSwitchCase="'CONTAINER'">
                  <div [ngSwitch]="view.type">
                    <div *ngSwitchCase="'ACADEMIC_AGE_GROUP'">
                      <span>{{ view.type }}</span>
                    </div>
                    <div *ngSwitchCase="'QUANTITY_DISTRIBUTION'">
                      <span>{{ view.type }}</span>
                    </div>
                    <div *ngSwitchCase="'PROFILE_SUMMARIES_EXPORT'">
                      <span>{{ view.type }}</span>
                    </div>
                    <div *ngSwitchDefault>{{ view.layout }} Unknown</div>
                  </div>
                </div>
                <div *ngSwitchCase="'GRID'">{{ view.layout }} Not Supported</div>
                <div *ngSwitchCase="'LIST'">{{ view.layout }} Not Supported</div>
                <div *ngSwitchDefault>{{ view.layout }} Unknown</div>
              </div>
            </a>
          </div>
        </ng-template>
      </div>

      <div [@fadeIn] *ngIf="dataAndAnalyticsView | async; let view">
        <div class="card-deck">
          <div class="card">
            <div class="card-header">
              <div class="d-flex justify-content-between align-items-center" *ngIf="themeOrganizationId | async; let themeOrganizationId">
                <div>{{ view.name }}</div>
                <a class="btn btn-link text-primary" (click)="onSelectOrganization(themeOrganizationId, params)">Reset Filter</a>
              </div>
            </div>
            <div class="card-body" [ngSwitch]="view.layout">

              <div class="row p-1 mb-2" *ngIf="(label | async)?.length > 0">
                <div class="col-12">
                  <span class="h4 font-weight-bold">{{ label | async }}</span>
                </div>
              </div>

              <div class="row p-1 mb-2">
                <div class="col-12">
                  <span class="h4 font-weight-bold">{{ 'DATA_AND_ANALYTICS.ORGANIZATION' | translate }}: </span>
                  <span class="h4">{{ organization.name }} ({{ organization.people?.length }})</span>
                </div>
              </div>

              <div class="applied-filters mt-2" *ngIf="filters | async; let filters">
                <span class="badge badge-light p-2 mr-2 mb-2" *ngFor="let filter of filters">
                  <span *ngIf="showFilter(view, filter)">
                    <span class="mr-1">{{getFilterField(view, filter) | formalize}}:</span>
                    <span class="mr-2">{{getFilterValue(view, filter) | formalize}}</span>
                    <a class="fa fa-close" [routerLink]="getDataAndAnalyticsRouterLink(view)" [queryParams]="getDataAndAnalyticsQueryParamsRemovingFilter(queryParams | async, filter)"></a>
                  </span>
                </span>
                <span *ngIf="showClearFilters(view, filters)" class="badge badge-light p-2 mr-2 mb-2">
                  <a [routerLink]="getDataAndAnalyticsRouterLink(view)" [queryParams]="getDataAndAnalyticsQueryParamsClearingFilters(queryParams | async, view)">Clear</a>
                </span>
              </div>

              <div class="row p-1">
                <div class="col-4" *ngIf="colleges | async; let colleges">
                  <div class="form-group">
                    <label class="font-weight-bold">{{ 'DATA_AND_ANALYTICS.COLLEGE' | translate }}</label>
                    <select #collegesSelect id="collegesSelect" class="form-control" ngModel (ngModelChange)="onSelectOrganization($event, params, collegesSelect)">
                      <option value="" disabled selected>{{ 'DATA_AND_ANALYTICS.SELECT' | translate }}</option>
                      <option *ngFor="let so of colleges" [ngValue]="so.id">{{ so.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-4" *ngIf="departments | async; let departments">
                  <div class="form-group">
                    <label class="font-weight-bold">{{ 'DATA_AND_ANALYTICS.DEPARTMENT' | translate }}</label>
                    <select #departmentsSelect id="departmentsSelect" class="form-control" ngModel (ngModelChange)="onSelectOrganization($event, params, departmentsSelect)">
                      <option value="" disabled selected>{{ 'DATA_AND_ANALYTICS.SELECT' | translate }}</option>
                      <option *ngFor="let so of departments" [ngValue]="so.id">{{ so.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-4" *ngIf="others | async; let others">
                  <div class="form-group">
                    <label class="font-weight-bold">{{ 'DATA_AND_ANALYTICS.OTHERS' | translate }}</label>
                    <select #othersSelect id="othersSelect" class="form-control" ngModel (ngModelChange)="onSelectOrganization($event, params, othersSelect)">
                      <option value="" disabled selected>{{ 'DATA_AND_ANALYTICS.SELECT' | translate }}</option>
                      <option *ngFor="let so of others" [ngValue]="so.id">{{ so.name }}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div *ngSwitchCase="'CONTAINER'">
                <div [ngSwitch]="view.type">
                  <div *ngSwitchCase="'ACADEMIC_AGE_GROUP'">
                    <scholars-academic-age-group
                      [organization]="selectedOrganization | async"
                      [displayView]="displayView"
                      [dataAndAnalyticsView]="view"
                      [filters]="filters | async"
                      [defaultId]="themeOrganizationId | async"
                      (labelEvent)="onLabelEvent($event)">
                    </scholars-academic-age-group>
                  </div>
                  <div *ngSwitchCase="'QUANTITY_DISTRIBUTION'">
                    <scholars-quantity-distribution
                      [organization]="selectedOrganization | async"
                      [displayView]="displayView"
                      [dataAndAnalyticsView]="view"
                      [filters]="filters | async"
                      [defaultId]="themeOrganizationId | async"
                      (labelEvent)="onLabelEvent($event)">
                    </scholars-quantity-distribution>
                  </div>
                  <div *ngSwitchCase="'PROFILE_SUMMARIES_EXPORT'">
                    <scholars-profile-summaries-export
                      [organization]="selectedOrganization | async"
                      [displayView]="displayView"
                      [dataAndAnalyticsView]="view"
                      [defaultId]="themeOrganizationId | async"
                      (labelEvent)="onLabelEvent($event)">
                    </scholars-profile-summaries-export>
                  </div>
                  <div *ngSwitchDefault>{{ view.type }} Unknown</div>
                </div>
              </div>
              <div *ngSwitchCase="'GRID'">{{ view.layout }} Not Supported</div>
              <div *ngSwitchCase="'LIST'">{{ view.layout }} Not Supported</div>
              <div *ngSwitchDefault>{{ view.layout }} Unknown</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</scholars-sidebar>
