<div class="container mb-1">
  <div class="text-center h2">{{(document | async)?.name}}</div>
  <div class="row">
    <div class="col-sm">
      <div class="card shadow bg-white rounded m-1">
        <div class="card-body">
          <div class="card-text">
            <div class="text-center h2">{{mean | async}}</div>
            <div class="text-center">Average academic age of affiliated researchers 🛈</div>
          </div>
        </div>
      </div>
      <div class="card shadow bg-white rounded m-1">
        <div class="card-body">
          <div class="h5">Researchers and publications per academic age group</div>
          <scholars-barplot scale="1" [input]="researchAge" maxOverride="{{maxOverride | async}}"></scholars-barplot>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card shadow bg-white rounded m-1">
        <div class="card-body">
          <div class="card-text">
            <div class="text-center h2">{{median | async}}</div>
            <div class="text-center">Median academic age of affiliated researchers 🛈</div>
          </div>
        </div>
      </div>
      <div class="card shadow bg-white rounded m-1">
        <div class="card-body">
          <div class="h5 text-truncate">Researchers and average publications per academic age group</div>
          <scholars-barplot scale="1" [input]="averagePubRateResearchAge" maxOverride="{{maxOverride | async}}"></scholars-barplot>
        </div>
      </div>
    </div>
  </div>
</div>
